/* ====================== */
@media screen and (max-width: 1024px) {
  header {
    padding: 30px 60px 30px 60px;
  }
  header nav {
    width: 50%;
  }
  main section{
    padding: 20px;
  }
  #about1>div{
    padding: 30px 60px;
  }
  #about1 img{
    height: 360px;
  }
  #projects .container{
    width: 46%;
    padding: 20px;
  }
  #projects .container div.desc ul li{
    width: 90%;
  }
  #contact form>div{
    width: 60%;
  }
}


@media screen and (max-width:990px) {
  main a{
    width: 110px;
  }
  #projects .container div.desc div.btns{
    margin-left: -15px;
    justify-content: space-evenly;
    width: 270px;
  }
  
}

/* ======================= */
/* For devices below 768px  */
/* ====================== */

@media screen and (max-width:768px){
  main a{
    width: 140px;
  }
  main section{
    padding: 20px 50px;
  }
  #about1 img{
    display: none;
  }

  
  #projects, #projects .container{
    flex-flow: column;
  }
  #projects .container{
    width: 100%;
    padding: 40px;
  }
  #projects .container>div{
    height: 400px;
  }

  #projects .container div.desc div.btns{
    margin-left: -22px;
    justify-content: space-evenly;
    width: 350px;
  }
  #contact form>div{
    width: 80%;
  }
  footer {
    flex-wrap: wrap;
    
  }
  footer div{
    width: 46%;
    margin: auto;
  }
  footer div.aboutMe, #otherAch{
    width: 80%;
  }
  #otherAch{
    margin: 0;
  }
  footer span{
    position: fixed;
    bottom: 5%;
    width: 50px;
    height: 50px;
    line-height: 70px;
    font-size: 70px;
  }
}