html {
  font-size: 20px;
}
header {
  padding: 1.2rem 2rem;
}
header h2{
  margin-left: 1.8em;
}
header nav ul {
  width: 480px;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  padding: 20px 0;
}


main section#about1 {
  padding: 4rem 5rem;
}


main #projects > div {
  padding: 1.6rem 2rem;
}
main #contact form {
  width: 54%;
}
footer {
  flex-direction: row;
  justify-content: space-evenly;
}

footer h3{
  margin-top: 0;
}

/* footer,
main {
  position: relative;
  top: 110px;
} */
