/* ======================= */

/* For Mobile view  */

/* ====================== */

@media screen and (max-width: 480px) {
  header {
    padding: 20px 40px;
  }
  header img {
    display: block;
    opacity: 1;
    width: 20px;
    height: 19px;
    margin-top: 12px;
  }
  header > nav {
    display: none;
  }
  div.phoneNav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.6s ease-in;
  }
  div.phoneNav.active {
    z-index: 4;
    transform: scale(1);
  }
  div.phoneNav div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.phoneNav ul {
    display: flex;
    flex-flow: column;
    height: 200px;
    background-color: #fff;
    color: black;
    width: 96%;
    position: relative;
    border-radius: 5px;
    right: -1%;
    padding-left: 0;
    margin-top: 25px;
  }
  div.phoneNav ul hr {
    margin: 0;
  }
  div.phoneNav ul li {
    padding-left: 35px;
  }

      /* ======================= */

    /*       Main area         */

  /* ====================== */

  main{
    padding: 15px;
  }
  main section{
    padding: 10px;
  }
  #about1 div{
    max-width: 100%;
    text-align: left;
  }
  #about1 div h1{
    font-size: 2rem;
    line-height: 2.3rem;
  }
  #about1 h2 {
    font-size: 1.5rem;
    line-height: 1.5em;
}

    /* ======================= */

   /*      Projects area      */ 

  /* ====================== */

  #projects .container{
    border:none;
  }
  #projects .container>div{
    width: 100%;
  }
  #projects .container:nth-child(odd) div.desc{
    height: auto;
    padding-left: 30px;
  }
  #projects .container div.desc{
    height: auto;
  }
  #projects .container div.desc h3{
    margin: 25px 0;
  }
  #projects .container div.desc div.btns{
    margin: 25px 0px 25px -20px;
  }

  #contact {
    margin-top: 0;
  }
  #contact form>div, footer div, footer div.aboutMe{
    width: 90%;
  }
  footer div{
    margin: 20px auto;
    padding:0;
  }
  footer div ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 410px) {
  #projects .container div.desc div.btns{
    flex-flow: column;
    height: 130px;
    margin: 10px 0 20px 0;
  }
}

/* =====================*/

/* Devices below 320px */

/* ================== */

@media screen and (max-width:320px) {
  #about1{
    height:450px;
  }
  #about1 div h1{
    font-size: 1.8rem;
  }
  #about1 div h2{
    font-size: 1.4rem;
  }
  #about1 div div {
    flex-flow:column;
    height: 130px;
    margin-left: 50px;
  }
  #projects .container{
    margin-bottom: 25px;
    padding:0;
  }
  #projects .container div.desc{
    padding: 10px;
    height: auto;
  }
  #projects .container div.desc ul{
    margin: 15px 0;
  }
  #projects .container div.desc h3{
    margin-top: 10px;
  }
  #projects .container div.desc div.btns{
    height: 140px;
    justify-content: space-around;
  }
  #contact form>div{
    width: 100%;
  }
  footer span{
    top: 55%;
    right: 35px;
  }
}